.idea
__pycache__
simulations
sao
udacity-self-driving-car
models
datasets
cache
venv-driving-quality
history*.png
driving_metrics_values.csv
self-driving-car*.h5
plots
lfp_cte_before.npy
lfp_unc_before.npy
config_my.py
class_imbalance.csv
likely_false_positive_common.npy
likely_false_positive_cte.npy
likely_false_positive_uncertainty.npy
